tests
tests/*
ios/tests/*
ios/tests
test.txt
laptop/tests
laptopt/tests/*
laptop/data/*
laptop/src/__pycache__
laptop/src/__pycache__/*
laptop/src/layouts/__pycache__
laptop/src/layouts/__pycache__/*
laptop/src/templates/__pycache__
laptop/src/templates/__pycache__/*
.DS_Store
.obsidian/app.json
.obsidian/appearance.json
.obsidian/core-plugins-migration.json
.obsidian/core-plugins.json
.obsidian/hotkeys.json
.obsidian/workspace.json
laptop/.DS_Store
diff.txt
.vscode
